<!-- templates/auth/admission_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Success</title>
</head>
<body>
    <h1>Admission Form Submitted Successfully</h1>
    <p>Name: {{ admission_data.name }}</p>
    <p>Email: {{ admission_data.email }}</p>
    <p>Course: {{ admission_data.course }}</p>
    <p>Contact Number: {{ admission_data.contact }}</p>
    <p>Gender: {{ admission_data.gender }}</p>
    <p>Registration Fee Discount: {{ admission_data.registration_fee }}</p>
    <p>Address: {{ admission_data.address }}</p>
    <p>Aadhaar Number: {{ admission_data.aadhar }}</p>
    <p>Payment Mode: {{ admission_data.mode }}</p>
    <p>Notification Mode: {{ admission_data.notice }}</p>
    <p>Code: {{ admission_data.code }}</p>


    <!-- You can provide a link to go back to the form if needed -->
    <p><a href="{{ url_for('auth.admission') }}">Go Back to Admission Form</a></p>
</body>
</html>
